<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1001389220330-3h42bi0pintdk6gtfqm3qd20irf76dd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001389220330-3h42bi0pintdk6gtfqm3qd20irf76dd8</string>
	<key>API_KEY</key>
	<string>AIzaSyCtYBEeEXuLF1udoc7-RaddhGM39Q1K4_k</string>
	<key>GCM_SENDER_ID</key>
	<string>1001389220330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ToolShed.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-41d3d</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-41d3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001389220330:ios:b8140cffba4a2b58</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-41d3d.firebaseio.com</string>
</dict>
</plist>